# =========================
# .NET
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe

# Visual Studio
.vscode/
*.dbmdl
*.jfm
*.pdb

# =========================
# Angular / Node
# =========================
node_modules/
dist/
.tmp/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp